.textAreaContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding: 0;
}

.focusButton {
    all: unset;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    width: min-content;
    margin-top: 0.2rem;
    margin-right: 1rem;
}

.focusButton:hover {
    color: #333;
}

.textArea {
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    border: none;
    padding: 1rem 5rem;

}
