.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: 100%;
    border-bottom: #cccccc solid 1px;
    gap: 1rem;
}

.question {
    height: 100%;
    width: 100%;
    text-align: justify-all;
    border-radius: 4px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navButton {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    border-right: 2px solid transparent;
    transition: all 0.3s ease;
}

.navButton:hover {
    background-color: #f0f0f0;
    border-right: 2px solid #cccccc;
}

.activeButton {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    border-right: 2px solid #cccccc;
}