.top-right-menu-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.hamburger-menu {
    width: 70px;
    height: 70px;
    background-color: #f8ecec;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid rgba(59, 130, 246, 0.5);
    cursor: pointer;
    font-size: 30px;
    transition: width 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

.top-right-menu-container.open .hamburger-menu {
    width: 300px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25); 
}

.menu-content {
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    gap: 20px;
}

.menu-content button {
    color: #575349;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
}

.menu-content button:hover {
    transform: scale(1.1);
}

.menu-content button:active {
    transform: scale(0.95);
}

.menu-content button::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #3b82f6;
    transition: width 0.3s ease;
    margin-top: 5px;
}

.menu-content button:hover::after {
    width: 100%;
}

.startButton, .stopButton {
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #1e3c72;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    align-self: flex-start;
    transition: all 0.3s ease;
}

.startButton:hover, .stopButton:hover {
    background-color: #2a5298;
}

.startButton:disabled, .stopButton:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}

.timeLeft {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1e3c72;
    margin-top: 1rem;
}