
.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.leftContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: blue;
}

.rightContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: green;
}

